<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Converter</title>
    <link rel="stylesheet" href="currency_converter.css">
    <link rel="stylesheet" href="fonts/all.css">

<body>

    <div class="convert">
        <h1>Currency Converter</h1>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <form action="/" method="POST">
            <label for="from_currency">
                <i class="far fa-money-bill-alt"></i>
            </label>

            <select class="form-select" name="from_currency" required>
                <option>From currency</option>
                {% for key in rates %}
                <option value={{key}}>{{key}}</option>
                {%endfor%}
            </select>

            <label for="to_currency">
                <i class="far fa-money-bill-alt"></i>
            </label>

            <select class="form-select" name="to_currency" required>
                <option selected>To currency</option>
                {% for key in rates %}
                <option value={{key}}>{{key}}</option>
                {%endfor%}
            </select>

            <label for="amount">
                <i class="fas fa-coins"></i>
            </label>

            <input type="number" name="amount" min="0" step="0.01" required>

            <p>{{result}}</p>

            <input type="submit" value="Convert">
        </form>
    </div>
</body>

</html>
