body {
  background-color: #435165;
  margin: 0;
}

/* The alert message box */

.alert {
  padding: 20px;
  background-color: #ff9800;
  /* Yellow */
  color: white;
  text-align:center;
  margin-bottom: 15px;
}

/* The close button */

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.convert {
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}

.convert p {
  text-align: center;
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #3274d6;
  transition: background-color 0.2s;
}

.convert h1 {
  text-align: center;
  color: #5b6574;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}

.convert .links {
  display: flex;
  padding: 0 15px;
}

.convert .links a {
  color: #adb2ba;
  text-decoration: none;
  display: inline-flex;
  padding: 0 10px 10px 10px;
  font-weight: bold;
}


.convert {
  border-bottom: 3px solid #3274d6;
  color: #3274d6;
}

.convert form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.convert form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #3274d6;
  color: #ffffff;
}

.convert form select {
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 15 15px;
}

.convert form p {
  text-align: center;
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #3274d6;
  transition: background-color 0.2s;
}

.convert form input[type="number"] {
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 0px;
}

.convert form input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #3274d6;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}

.convert form input[type="submit"]:hover {
  background-color: #2868c7;
  transition: background-color 0.2s;
}
@media only screen and (max-width: 768px) {
  .convert {
    width: 100%; /* Make the convert box full width on small screens */
    margin: 0 auto; /* Center the convert box horizontally */
  }

  .convert p,
  .convert h1,
  .convert form select,
  .convert form input[type="number"] {
    width: 100%; /* Make elements fit full width on small screens */
  }

  .convert .links {
    flex-direction: column; /* Stack links vertically on small screens */
    align-items: center; /* Center links horizontally on small screens */
  }

  .convert form label {
    width: 100%; /* Adjust label width for smaller screens */
    }
